<div>
  <h4 class="mb-4"><i class="bi bi-heart-fill text-danger"></i> About</h4>
  <p class="lead fw-semibold">
    Unleash your inner Shakespeare or just jot down your grocery list – our
    notesy is here to fulfill all your note-taking fantasies.
  </p>
  <p>
    It is like having a personal assistant who is fantastic at remembering stuff
    but does not need a paycheck.
  </p>
  <p>
    From dear diary confessions to important meeting reminders, we have got a
    note template for every mood swing and milestone.
  </p>
  <p>
    So, let your thoughts flow like a river of creativity, and let our app be
    the dam that holds them all together. With us, every note is a masterpiece
    waiting to happen!
  </p>
  <p>
    Angular: <a href="https://angular.dev/" target="_blank">angular.dev</a>.
  </p>
  <p>Notesy Version: <span class="badge bg-secondary">1.0.0</span></p>
</div>